<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
  <title>Projet Vue API</title>
</head>
<body>
  <div class="lg:content-auto" id="loadApi">
    <div class="flex">
      <template v-for="choice in choices">
        <div class="flex items-center pl-4 pr-4 rounded border border-gray-200 dark:border-gray-700 mr-4">
            <input
            type="radio"
            :id="choice"
            :value="choice"
            name="choice"
            v-model="currentChoice"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label :for="choice" class="py-4 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">{{ choice }}</label>
        </div>
      </template>
    </div>
    <div class="grid gap-4 grid-cols-3 grid-rows-3">
      <div v-for="data in datas" class="mb-2 ml-2 mr-2 mt-2 bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ data.name }}</h5>
              <p v-if="currentChoice == 'people'" class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Taille : {{ data.height }} <br>
                Poids : {{ data.mass }} <br>
                Couleur des yeux : {{ data.eye_color }} <br>
                Couleur de cheveux : {{ data.hair_color }} <br>
                Date de naissance : {{ data.birth_year }} <br>
              </p>
              <p v-if="currentChoice == 'starships'" class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Taille : {{ data.length }} <br>
                Modèle : {{ data.model }} <br>
                Manufacturier : {{ data.manufacturer }} <br>
                Prix : {{ data.cost_in_credits }} <br>
                Vitesse atmosphérique maximale : {{ data.max_atmosphering_speed }} <br>
                Équipage : {{ data.crew }} <br>
                Nb passagers : {{ data.passengers }} <br>
                Capacité de chargement : {{ data.cargo_capacity }} <br>
                Consommables : {{ data.consumables }} <br>
                Évaluation de l'hyperdrive : {{ data.hyperdrive_rating }} <br>
                Classification vaisseau : {{ data.starship_class }} <br>
              </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    const apiURL =
      "https://swapi.dev/api/";
    const config = {
    };

    Vue.createApp({
      data() {
        return {
          choices: ["people", "starships"],
          currentChoice: "people",
          datas: null,
        };
      },

      created: function () {
        this.fetchDataAsync()
      },

      watch: {
        currentChoice: "fetchDataAsync",
      },
      methods: {
        fetchDataAsync: async function () {
        	try {
          	const response = await axios.get(apiURL + this.currentChoice, config)
        	  this.datas = response.data.results
          } catch(error) {
            console.log(error);
          }
        },
        formattedMessage: function (message) {
          const newline = message.indexOf("\n");
          return newline > 0 ? message.slice(0, newline) : message;
        },
        formattedDate: function (date) {
          return date.replace(/T|Z/g, " ");
        },
      },
    }).mount("#loadApi");

    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
</body>
</html>